# Assignment 2 - DS 3021

In [31]:
import pandas as pd
import os
os.getcwd()

'c:\\Users\\dpv8cf\\DS-3021\\02_function_basics'

### For each of the two datasets you select, produce four parts: 

1. Question
2. Psuedocode that answers the question
3. Single line transactions using pandas functions
4. Pipe the individual lines together and create a function

You can work with your groups for coding tips/advise or work through similar programming issues, but everyone must have their own set of questions and results. 


### Data

Any dataset in the class repo works or:

nf2008_fg: http://users.stat.ufl.edu/~winner/data/nfl2008_fga.csv

red_wine_quality: https://data.world/uci/wine-quality

In [32]:
epl = pd.read_csv("results.csv", encoding="latin1") #"Encoding = 'latin1' is a set of rules on how to convert"
print(epl.info()) #There are 11113 rows and 23 columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11113 entries, 0 to 11112
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Season    11113 non-null  object
 1   DateTime  11113 non-null  object
 2   HomeTeam  11113 non-null  object
 3   AwayTeam  11113 non-null  object
 4   FTHG      11113 non-null  int64
 5   FTAG      11113 non-null  int64
 6   FTR       11113 non-null  object
 7   HTHG      10189 non-null  float64
 8   HTAG      10189 non-null  float64
 9   HTR       10189 non-null  object
 10  Referee   8289 non-null   object
 11  HS        8289 non-null   float64
 12  AS        8289 non-null   float64
 13  HST       8289 non-null   float64
 14  AST       8289 non-null   float64
 15  HC        8289 non-null   float64
 16  AC        8289 non-null   float64
 17  HF        8289 non-null   float64
 18  AF        8289 non-null   float64
 19  HY        8289 non-null   float64
 20  AY        8289 non-null   float64
 21  HR        8289 non-null   float64
 22  AR        8289 non-null   float64
dtypes: float64(14), int64(2), object(7)
memory usage: 2.0+ MB
None

## Question 1

### "Do soccer teams in the EPL tend to score more home goals or away goals?"

### Psuedocode

I will start by understanding the data, then extract only the columns that shows the number of
home goal scored and the number of away goal scored, and find the difference between the two.

* Remove all NaN values
* Group by FTHG and FTAG
* Count the total amount of FTHG and FTAG
* Find the difference between the two
* Divide that value by the number of games to see the difference per game

In [33]:
epl.head()
#the head() function shows the first few rows of the whole data. I used this function to get a general idea
#of the whole dataset

,Season,DateTime,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HC,AC,HF,AF,HY,AY,HR,AR
0,1993-94,1993-08-14T00:00:00Z,Arsenal,Coventry,0,3,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1993-94,1993-08-14T00:00:00Z,Aston Villa,QPR,4,1,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1993-94,1993-08-14T00:00:00Z,Chelsea,Blackburn,1,2,A,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1993-94,1993-08-14T00:00:00Z,Liverpool,Sheffield Weds,2,0,H,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1993-94,1993-08-14T00:00:00Z,Man City,Leeds,1,1,D,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
#I've realized that I have a lot of NaN values, so I will remove them. 

epl = epl.dropna()
na_values = epl.isnull().sum()
print(na_values)

Season      0
DateTime    0
HomeTeam    0
AwayTeam    0
FTHG        0
FTAG        0
FTR         0
HTHG        0
HTAG        0
HTR         0
Referee     0
HS          0
AS          0
HST         0
AST         0
HC          0
AC          0
HF          0
AF          0
HY          0
AY          0
HR          0
AR          0
dtype: int64

In [35]:
#Here, I am keeping only the columns that I want to use

epl = epl[["FTHG", "FTAG"]]
epl.head()

      FTHG  FTAG
2824     4     0
2825     4     2
2826     1     3
2827     2     2
2828     2     0

In [36]:
#Here, we find the total home goal scores and away goal scores
total_hgscore = epl["FTHG"].sum()
total_awscore = epl["FTAG"].sum()
print(total_hgscore, total_awscore)

12593 9578

In [37]:
#Now we find the Difference
diff = total_hgscore - total_awscore
print(diff)

3015

In [38]:
#Now we find the difference per game
num_hwgame = len(epl["FTHG"])
num_awgame = len(epl["FTAG"])
print(num_hwgame, num_awgame)
#Check if these two values match because if they don't, the data will be inaccurate
diff_pergame = diff / num_hwgame
print(diff_pergame)

8289 8289
0.36373507057546145

In [39]:
#Time to make a function
def goal_diff(epl):
    epl = epl.dropna()
    epl = epl[["FTHG", "FTAG"]]
    total_hgscore = epl["FTHG"].sum()
    total_awscore = epl["FTAG"].sum()
    diff = total_hgscore - total_awscore
    num_game = len(epl["FTHG"])
    diff_pergame = diff / num_game
    return(diff_pergame)

print(goal_diff(epl))

0.36373507057546145

In conclusion, the home teams tends to score 0.36 goals more than the away team!

## Question 2

### "How many away wins does Tottenham have out of the games they played away?"

### Psuedocode

* Filter the data to use only the relevant dataset.
  * In this case, focus on Tottenham and the Full-Time Result.
* Calculate the number of games Tottenham played by dividing the total number of games by 2, assuming there are  equal numbers of home and away games.
* Filter the data again to retain only the away games.
* Determine the number of away games that Tottenham won.

In [40]:
epl2 = pd.read_csv("results.csv", encoding="latin1")
filtered_epl2 = epl2.loc[epl2["AwayTeam"] == "Tottenham", "FTR"] #Filter the data frame so that I only have the data 
#where Tottenham played as an away team and the corresponding results
print(filtered_epl2)

5        A
39       A
46       H
72       D
97       D
        ..
11048    H
11053    A
11077    H
11085    A
11108    A
Name: FTR, Length: 552, dtype: object

In [41]:
len(filtered_epl2) 
away_wins = filtered_epl2.loc[epl2["FTR"] == "A"] #A means Away Win
len(away_wins)
print(len(away_wins))

185

In [42]:
#Function

def away_wins_tottenham(epl2):
    epl2 = pd.read_csv("results.csv", encoding="latin1")
    filtered_epl2 = epl2.loc[epl2["AwayTeam"] == "Tottenham", "FTR"]
    away_wins = filtered_epl2.loc[epl2["FTR"] == "A"] 
    return f"Tottenham won {len(away_wins)} amount of away games out of {len(filtered_epl2)} away games"

print(away_wins_tottenham(epl2))

Tottenham won 185 amount of away games out of 552 away games

## Question 3

### What is the Average Distance for Field Goals by players?

### Psuedocode

* First, we will filter data where we can only see the data for a specific player.
* Then, we will also only filter data where we can only see "distance" data for that specific player.
* Finally, I will find the mean value of the "distance" data.

In [43]:
nfl = pd.read_csv("http://users.stat.ufl.edu/~winner/data/nfl2008_fga.csv")
print(nfl.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1039 entries, 0 to 1038
Data columns (total 23 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GameDate  1039 non-null   int64
 1   AwayTeam  1039 non-null   object
 2   HomeTeam  1039 non-null   object
 3   qtr       1039 non-null   int64
 4   min       1039 non-null   int64
 5   sec       1039 non-null   int64
 6   kickteam  1039 non-null   object
 7   def       1039 non-null   object
 8   down      1037 non-null   float64
 9   togo      1037 non-null   float64
 10  kicker    1039 non-null   int64
 11  ydline    1039 non-null   int64
 12  name      1039 non-null   object
 13  distance  1039 non-null   int64
 14  homekick  1039 non-null   int64
 15  kickdiff  1039 non-null   int64
 16  timerem   1039 non-null   int64
 17  offscore  1039 non-null   int64
 18  defscore  1039 non-null   int64
 19  season    1039 non-null   int64
 20  GOOD      1039 non-null   int64
 21  Missed    1039 non-null   int64
 22  Blocked   1039 non-null   int64
dtypes: float64(2), int64(16), object(5)
memory usage: 186.8+ KB
None

In [44]:
#For this example, I will use "D.Akers" as an example

player = nfl[nfl["name"] == "D.Akers"]
distance_for_player = player["distance"]
avg_dis_for_player = distance_for_player.mean()
print(avg_dis_for_player)

35.28

In [45]:
def avg_dist_kickers(df, kicker_name):

    player = df[df["name"] == kicker_name]
    distance_for_player = player["distance"]
    avg_dis_for_player = distance_for_player.mean()

    return avg_dis_for_player

df = nfl
kicker_name = "D.Akers"

print(avg_dist_kickers(df, kicker_name))

35.28

## Question 4

### What is the Maximum Field Goal Distance in a Game?

### Pseudocode

* First we filter out the data
  * We need to filter game_date, home_team, and away_team to specify the game that we are finding
* Then, we will combine all the filtered data into one 
* Then, we will find the "distance" data from that filtered data
* From that "distance" data, we will find the max value using the max() function.
* Then, we will have the maximum field goal distance in a game

In [46]:
#For this example, I will use the game that happened at 20080907 between IND (home) and CHI(away)

game_date = 20080907
home_team = "IND"
away_team = "CHI"

filter_gamedate = nfl["GameDate"] == game_date
filter_indhome = nfl["HomeTeam"] == home_team
filter_chiaway = nfl["AwayTeam"] == away_team

gather_filtered_data = filter_gamedate & filter_indhome & filter_chiaway

complete_filtered_data = nfl[gather_filtered_data]

max_distance = complete_filtered_data["distance"].max()
print(max_distance)

41

In [47]:
def max_dist_in_game(df, game_date, home_team, away_team):

    filter_gamedate = df["GameDate"] == game_date
    filter_indhome = df["HomeTeam"] == home_team
    filter_chiaway = df["AwayTeam"] == away_team
    gather_filtered_data = filter_gamedate & filter_indhome & filter_chiaway
    complete_filtered_data = df[gather_filtered_data]
    max_distance = complete_filtered_data["distance"].max()
    return max_distance

game_date = 20080907
home_team = "IND"
away_team = "CHI"
print(max_dist_in_game(nfl, game_date, home_team, away_team))

41